@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 85.71 58.33% 4.71%;

    --primary: 85 59.02% 47.84%;
    --primary-foreground: 85.71 58.33% 4.71%;

    --card: 85.71 53.85% 97.45%;
    --card-foreground: 85.71 58.33% 4.71%;

    --popover: 0 0% 100%;
    --popover-foreground: 85.71 58.33% 4.71%;

    --secondary: 84.55 55% 92.16%;
    --secondary-foreground: 0 0% 0%;

    --muted: 85.71 53.85% 94.9%;
    --muted-foreground: 0 0% 40%;

    --accent: 85.71 53.85% 94.9%;
    --accent-foreground: 85.71 56.76% 7.25%;

    --destructive: 0 84.24% 60.2%;
    --destructive-foreground: 210 40% 98.04%;

    --border: 84.83 54.72% 89.61%;

    --input: 86.67 18.75% 81.18%;

    --ring: 85 59.02% 47.84%;

    --chart-1: 85 59.02% 47.84%;
    --chart-2: 85.08 53.98% 55.69%;
    --chart-3: 85.16 53.76% 66.08%;
    --chart-4: 85.06 53.74% 71.18%;
    --chart-5: 84.92 54.62% 76.67%;

    --sidebar: 80 60% 99.02%;
    --sidebar-foreground: 85.71 58.33% 4.71%;
    --sidebar-primary: 85 59.02% 47.84%;
    --sidebar-primary-foreground: 85.71 58.33% 4.71%;
    --sidebar-accent: 85 59.02% 47.84%;
    --sidebar-accent-foreground: 85.71 58.33% 4.71%;
    --sidebar-border: 84.83 54.72% 89.61%;
    --sidebar-ring: 85 59.02% 47.84%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 84.55 55% 92.16%;
    --primary: 85 59.02% 47.84%;
    --primary-foreground: 85.71 58.33% 4.71%;
    --card: 84 17.24% 5.69%;
    --card-foreground: 84.55 55% 92.16%;
    --popover: 0 0% 0%;
    --popover-foreground: 84.55 55% 92.16%;
    --secondary: 85.2 58.14% 16.86%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 9.8%;
    --muted-foreground: 0 0% 50.2%;
    --accent: 85.2 58.14% 16.86%;
    --accent-foreground: 84.55 55% 92.16%;
    --destructive: 0 84.24% 60.2%;
    --destructive-foreground: 210 40% 98.04%;
    --border: 84.83 59.18% 9.61%;
    --input: 84 14.85% 19.8%;
    --ring: 85 59.02% 47.84%;
    --chart-1: 85 59.02% 47.84%;
    --chart-2: 85.08 58.65% 40.78%;
    --chart-3: 85.16 58.49% 31.18%;
    --chart-4: 85.06 58.52% 26.47%;
    --chart-5: 84.92 59.63% 21.37%;
    --sidebar: 100 8.57% 6.86%;
    --sidebar-foreground: 84.55 55% 92.16%;
    --sidebar-primary: 85 59.02% 47.84%;
    --sidebar-primary-foreground: 85.71 58.33% 4.71%;
    --sidebar-accent: 85 59.02% 47.84%;
    --sidebar-accent-foreground: 85.71 58.33% 4.71%;
    --sidebar-border: 84.83 59.18% 9.61%;
    --sidebar-ring: 85 59.02% 47.84%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
